<!doctype html>
<html lang="en">
<head>
    <title>Create box</title>
</head>
<body>
    <h1>Create box</h1>
    <br>
    {% if error %}
    <span class="label label-danger">{{error}}</span>
    {% endif %}
    <br>
    <form action="{{ url_for('create_box') }}" method="post">
        <label for="Name">Name</label>
        <input name="Name" type="text">

        <label for="Id">Id</label>
        <input name="Id" type="number" min="0">
        
        <label for="Price">Price</label>
        <input name="Price" type="number" min="0">
        
        <label for="Description">Description</label>
        <input name="Description" type="text">

        <label for="Category">Category</label>
        <input name="Category" type="text">

        <label for="Quantity">Quantity</label>
        <input name="Quantity" type="number" min="0">

        <input type="submit" value="Submit">
    </form>
</body>